<div class="burger-tile" data-id="{{id}}" data-newdevoured="{{devoured}}">
    <p class="burger-name">{{burger_name}}</p>
            {{#if devoured}}
          <div class="change-devoured full-burger" data-id="{{id}}" data-newdevoured="{{devoured}}"></div>
          {{else}}
          <div class="change-devoured unmade-burger" data-id="{{id}}" data-newdevoured="{{devoured}}"></div>
          {{/if}}

    <p class="burger-ingredients">
        {{ingredients}}
    </p>
</div>