<a class="burger-tile change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    <p class="burger-name">{{burger_name}}</p>
          <div class="full-burger"></div>

    {{!-- <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Eat Burger!{{else}}Make Burger{{/if}}
    </button> --}}
    <p class="burger-ingredients">
        ingredients: cheese, burger, lettuce, patty
    </p>
</a>